@import url("reset.css");


/* Основні стилі */
body {
	background-color: #333;
	color: #fff;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* [class*="--margin"] {
	margin-bottom: 50px;
} */

.header {
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	padding: 30px 0;
	letter-spacing: 5px;
}

.page {}


.section-meet {
	background-color: #412672;
	padding: 60px 0;
}

.section-meet__container {}

.section-meet__row {}

.section-meet__title {
	display: flex;
	flex-direction: column;
	font-family: "Inter", sans-serif;
	font-size: 38px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 30px;
}

.section-meet__card {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.card {
	/* width: 33.333%; */
	flex-basis: 386px;
	flex-grow: 0;
	flex-shrink: 1;
	background-color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	transition-duration: 0.4s;
	transition-property: background-color;
}

.card:hover {
	background-color: #FBBC49;
}

.card__image img {
	transition-duration: 0.3s;
}

.card__image img:hover {
	transform: scale(0.95);
	border-radius: 20px;
}

.card__image img {
	width: 100%;
}

.card__title {
	color: #000;
	font-family: "Inter", sans-serif;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.26;
}

.card__text {
	color: #4F4F4F;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	line-height: 1.26;
	flex-grow: 1;
}

.card__link {
	display: inline;
	color: #FE3F3F;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.26;
	transition-duration: 0.3s;
}

.card__link:hover {
	text-decoration: underline;
	transform: scale(1.4) translate(40px, 0px);
}

/* ! section-faculty */

.section-faculty {
	background-color: #fff;
	padding: 55px 0px;
}

.section-faculty__container {}

.section-faculty__row {
	display: flex;
	gap: 90px;
	flex-wrap: wrap;
}

.section-faculty__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	flex-basis: 518px;
}

.section-faculty__title {
	display: flex;
	flex-direction: column;
	color: #412672;
	font-family: "Inter", sans-serif;
	font-size: 34px;
	line-height: 1.2;
}

.section-faculty__text {
	color: #412672;
	font-family: "Inter", sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.2;
}

.section-faculty__list {}

.list {}

.list__item {
	color: #4F4F4F;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	display: flex;
	gap: 15px;
	align-items: center;
}

.list__item::before {
	content: "";
	align-self: flex-start;
	background: url("../img/icon_1.svg") 0 0 / 100% no-repeat;
	flex-shrink: 0;
	width: 30px;
	height: 30px;
}

.list__item:not(:last-child) {
	margin-bottom: 20px;
}

.section-faculty__image {
	margin-right: -170px;
	flex-basis: 760px;
	/* flex-grow: 1; */
	flex-shrink: 1;
}

.section-faculty__image img {
	width: 100%;
}

.footer {
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	padding: 30px 0;
	letter-spacing: 5px;
}

/* ! section-academy */

.section-academy {
	background-color: #412672;
	padding: 70px 0px;
}

.section-academy__container {
	/* display: flex;
	flex-direction: column;
	gap: 30px; */
}

.section-academy__title {
	color: #FFF;
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 30px;
}

.section-academy__row {
	display: flex;
	/* gap: 141px; */
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
}

.section-academy__item {
	display: inline-flex;
	gap: 10px;
	align-items: center;
	transition-duration: 0.3s;
}

.section-academy__item:hover {
	transform: scale(1.2);
}

.section-academy__image {
	width: 70px;
	height: 70px;
}

.section-academy__image--big {
	width: 80px;
	height: 80px;
}

.section-academy__image img {
	width: 100%;
}

.section-academy__content {}

.section-academy__content p {
	color: #FFF;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6;
}

.subtitle {
	color: #FFF;
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
}