@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1350px;
	padding: 0 15px;
	margin: 0 auto;
}

/* ! header */

.header {
	padding: 20px 0;
	background-color: #0099ff;
	color: #fff;
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
}

@media (max-width: 991.98px) {
	.header {
		font-size: 22px;
		padding: 15px 0;
	}
}

@media (max-width: 479.98px) {
	.header {
		font-size: 18px;
		padding: 15px 0;
	}
}

.header__container {}

/* ! content */

.page {}

/* ! .section-featured */

.section-featured {}

.featured {
	background-color: #fff;
	padding: 30px 0;
}

.featured__container {}

.featured__title {}

.title-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	padding: 32px;
}

.title-section__h2 {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
}

.title-section__link {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #00B207;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
}

@media (max-width: 991.98px) {
	.title-section {
		padding: 15px 0;
	}

	.title-section__h2 {
		font-size: 25px;
	}

	.featured {
		padding: 15px 0;
	}
}

@media (max-width: 479.98px) {
	.title-section {
		padding: 15px 0;
	}

	.title-section__h2 {
		font-size: 20px;
	}

	.title-section__link {
		font-size: 18px;
	}

	.featured {
		padding: 15px 0;
	}
}

.title-section__link {
	transition-duration: 0.4s;
}

.title-section__link img {
	width: 15px;
	height: 12px;
}


@media (any-hover: hover) {
	.title-section__link:hover {
		box-shadow: 0px -2px 0px 0px #00B207 inset;
	}
}

.featured__product-card {
	display: flex;
	justify-content: center;
}

/* ! card ================= */

.card {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	/* flex-shrink: 1; */
	/* max-width: 264px; */
	flex-basis: 264px;
	border: 1px solid #E6E6E6;
	background: #FFF;
	transition-duration: 0.4s;
	position: relative;
}

.card__activ {}

.activ {
	display: flex;
	flex-direction: column;
	gap: 6px;
	position: absolute;
	top: 5%;
	left: 77%;
	visibility: hidden;
	opacity: 0;
	transition-duration: 0.4s;
}

.activ__link {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FFF;
	padding: 10px;
	outline: 1px solid #F2F2F2;
	transition-duration: 0.4s;
}

.activ__link img {
	width: 20px;
	height: 20px;
}

@media (any-hover: hover) {
	.card:hover {
		border: 1px solid #2C742F;
		box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
	}

	.card:hover .bag {
		background-color: #00B207;
	}

	.card:hover .activ {
		visibility: visible;
		opacity: 1;
	}

	.activ__link:hover {
		background-color: #00B207;
	}

	.card:hover .bag__white-bag {
		visibility: visible;
		opacity: 1;
	}

	.card:hover .bag__black-bag {
		visibility: hidden;
		opacity: 0;
	}
}

.card__image {
	padding: 5px;
}

.card__image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	aspect-ratio: 254 / 230;
}

.card__info {}

.info {
	display: flex;
	flex-direction: column;
	padding: 12px;
	gap: 7px;
	position: relative;
}

.info__link-product {
	color: #4D4D4D;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 1.2;
	transition-duration: 0.4s;
}

@media (any-hover: hover) {
	.info__link-product:hover {
		color: #2C742F;
	}

	#bag:hover {
		background-color: #2C742F;
	}
}

.info__price {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
}

.info__price strong {
	margin: 0 2px;
	color: #999;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	text-decoration-line: line-through;
}

.bag {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #F2F2F2;
	position: absolute;
	top: 27%;
	left: 77%;
	transition-duration: 0.4s;
}


.bag__black-bag {
	width: 20px;
	height: 20px;
	position: relative;
	top: 10px;
	left: 10px;
	transition-duration: 0.4s;
}

.bag__white-bag {
	width: 20px;
	height: 20px;
	position: relative;
	top: -10px;
	left: 10px;
	opacity: 0;
	visibility: hidden;
	transition-duration: 0.4s;
}


.info__stars {}

.star {
	display: flex;
}

.star__item {
	width: 12px;
	height: 12px;
}

@media (max-width: 991.98px) {
	.bag {
		background-color: #00B207;
		height: 50px;
		width: 50px;
	}

	.bag__black-bag {
		visibility: hidden;
		opacity: 0;
	}

	.bag__white-bag {
		width: 25px;
		height: 25px;
		visibility: visible;
		opacity: 1;
		top: 11px;
		left: -11px;
	}

	.activ {
		visibility: visible;
		opacity: 1;
	}

	.info__link-product {
		color: #2C742F;
	}

	.featured__product-card {
		flex-wrap: wrap;
	}

	.card {
		max-width: 230px;
	}
}

@media (max-width: 479.98px) {
	.card {
		max-width: 270px;
	}
}


/*  !  News  ================= */

.section-news {
	padding: 60px 0;
}

.section-news__container {}

.section-news__row {
	display: flex;
	gap: 24px;
	justify-content: center;
}

.title-section {}

.title-section--center {
	justify-content: center;
}

.title-section__h2 {}

.card-blog {
	display: flex;
	flex-direction: column;
	/* max-width: 424px; */
	flex-basis: 424px;
	flex-grow: 1;
	overflow: hidden;
	border-radius: 2%;
	transition-duration: 0.4s;
	/* position: relative; */
}

.image-blog {
	position: relative;
}

.image-blog__img {
	object-fit: cover;
	aspect-ratio: 424 / 324;
}

.image-blog__date {
	position: absolute;
	/* top: 170px;
	left: 20px; */
	top: 75%;
	left: 6%;
}

.date {
	display: inline-flex;
	/* padding: 6px 15px 10px 15px; */
	flex-direction: column;
	align-items: center;
	border-radius: 4px;
	background: #E4E3E3;
	padding: 6px 15px 6px 15px;
	transition-duration: 0.4s;
}

.date__number {
	color: #1A1A1A;
	/* text-align: center; */
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
}

.date__month {
	color: #808080;
	/* text-align: center; */
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.36px;
	text-transform: uppercase;
}

@media (any-hover: hover) {
	.card-blog:hover {
		box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
	}

	.card-blog:hover .date {
		background-color: #fff;
	}

	.categories-card__link:hover {
		transform: scale(1.1);
	}

	.card-blog__content:hover {
		color: #2C742F;
	}

	.card-blog__link:hover {
		transform: scale(1.1);
	}
}

.card-blog__info {
	display: flex;
	flex-direction: column;
	padding: 24px;
	gap: 15px;
	flex-grow: 1;
}

.card-blog__categories {}



.categories-card {
	display: flex;
	gap: 16px;
}


.categories-card__link {
	display: flex;
	gap: 4px;
	transition-duration: 0.4s;
	align-items: center;
}

.categories-card__link img {
	width: 20px;
	height: 20px;
}

.categories-card__text {
	color: #4D4D4D;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 1.2;
}

.categories-card__text strong {
	color: #808080;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	margin-right: 3px;
}

.card-blog__content {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;
	transition-duration: 0.4s;
	flex-grow: 1;
}

.card-blog__link {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	color: #00B207;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
	transition-duration: 0.4s;
}

@media (max-width: 991.98px) {
	.section-news {
		padding: 15px 0;
	}

	.section-news__row {
		gap: 12px;
		flex-wrap: wrap;
	}

	.card-blog {
		max-width: 450px;
		box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
	}

	.card-blog__link {
		font-size: 20px;
	}
}

@media (max-width: 479.98px) {
	.date {
		border-radius: 1px;
		padding: 4px 10px 4px 10px;
	}

	.date__number {
		font-size: 14px;
	}

	.date__month {
		font-size: 10px;
		font-weight: 500;
	}
}

/* !================== */

/* ! footer */

.footer {
	padding: 20px 0;
	background-color: #0099ff;
	color: #fff;
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
}


@media (max-width: 991.98px) {
	.footer {
		font-size: 22px;
		padding: 15px 0;
	}
}

@media (max-width: 479.98px) {
	.footer {
		font-size: 18px;
		padding: 15px 0;
	}
}

.footer__container {}