@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1350px;
	padding: 0 15px;
	margin: 0 auto;
}

/* ! header */

.header {
	padding: 20px 0;
	background-color: #0099ff;
	color: #fff;
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
}

@media (max-width: 991.98px) {
	.header {
		font-size: 22px;
		padding: 10px 0;
	}
}


@media (max-width: 479.98px) {
	.header {
		font-size: 18px;
		padding: 5px 0;
	}
}

.header__container {}

/* ! content */

.page {}

/* ! .section-featured */

.section-featured {}

.featured {
	background-color: #fff;
	padding: 30px 0;
}

.featured__container {}

.featured__title {}

.title-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
}

.title-section__h2 {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
}

.title-section__link {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #00B207;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
}

@media (max-width: 991.98px) {
	.title-section__h2 {
		font-size: 25px;
	}

	.featured {
		padding: 10px 0;
	}
}

@media (max-width: 479.98px) {
	.title-section__h2 {
		font-size: 18px;
	}

	.featured {
		padding: 5px 0;
	}
}


.title-section__link img {
	width: 15px;
	height: 12px;
}

.title-section__link:hover {
	box-shadow: 0px -2px 0px 0px #00B207 inset;
}

/* ! footer */

.footer {
	padding: 20px 0;
	background-color: #0099ff;
	color: #fff;
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
}


@media (max-width: 991.98px) {
	.footer {
		font-size: 22px;
		padding: 10px 0;
	}
}

@media (max-width: 479.98px) {
	.footer {
		font-size: 18px;
		padding: 5px 0;
	}
}

.footer__container {}