@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: clip;
	min-height: 100%;
	background: url("../img/image_1.webp") center / cover no-repeat;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1230px;
	padding: 0px 15px;
	margin: 0 auto;
}

.header {
	color: #000;
	font-family: "Montserrat", sans-serif;
	line-height: 1.5;
	background-color: #F9E1D0;
	padding-top: 28px;
	padding-bottom: 25px;
	position: sticky;
}

.header__container {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.icon-menu {
	display: none;
}

.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
	flex-grow: 1;
}

.header__logo {}

.logo-header {
	display: flex;
	align-items: center;
	column-gap: 6px;
	flex-shrink: 0;
	position: relative;
	z-index: 5;
}

.logo-header__image {
	opacity: 0.7;
	transition: opacity 0.3s;
	aspect-ratio: 44 / 44;
	position: relative;
	z-index: 5;
}

@media(any-hover:hover) {
	.logo-header:hover .logo-header__image {
		opacity: 1;
	}
}

.logo-header__text {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.header__menu {}

.menu {}

.menu__body {}

.menu__list {
	display: flex;
	column-gap: 30px;
}

.menu__item {}

.menu__link {
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
}

.menu__link::before {
	content: "";
	background-color: #F26522;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 25px;
	height: 2px;
	transition: all 0.4s;
}

@media (any-hover:hover) {
	.menu__link:hover::before {
		width: 100%;
	}
}

.header__button {}

.button {
	flex-shrink: 0;
}

.button__item {
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	background: #F26522;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	display: flex;
	padding: 8px 30px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	position: relative;
	overflow: hidden;
	position: relative;
	z-index: 5;
}

.button__item::after {
	content: "";
	background: url("../img/arrow.svg") center no-repeat;
	width: 24px;
	height: 24px;
}

.button__item::before {
	content: "";
	width: 120%;
	height: 50%;
	background: #ffffff;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	position: absolute;
	top: 170%;
	left: -10%;
	transform: skewY(-20deg);
	transition-duration: 0.3s;
}

@media(any-hover:hover) {
	.button__item:hover::before {
		translate: 0% -500%;
		transition: translate 0.8s;
	}
}

@media(any-hover:none) {
	.menu__link::before {
		display: none;
	}

	.logo-header__image {
		opacity: 1;
	}
}

@media (max-width: 991.98px) {
	.header {
		padding-top: 18px;
		padding-bottom: 15px;
	}

	.logo-header__text {
		font-size: 14px;
	}

	.logo-header__image {
		opacity: 1;
		width: 37px;
	}

	.menu__list {
		column-gap: 10px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.button__item {
		font-size: 14px;
		border-radius: 20px;
		padding: 6px 10px;
		gap: 4px;
	}

	.button__item::after {
		content: "";
		width: 20px;
		height: 20px;
	}

	.button__item::before {
		display: none;
	}
}

@media (max-width: 767.98px) {

	.icon-menu {
		display: block;
		width: 30px;
		height: 18px;
		position: relative;
		z-index: 5;
	}

	.icon-menu::before,
	.icon-menu::after,
	.icon-menu span {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		background-color: #000;
		transition: all 0.3s;
	}

	.icon-menu::before {
		top: 0;
	}

	.icon-menu::after {
		bottom: 0;
	}

	.icon-menu span {
		top: 50%;
		transform: translateY(-50%);
	}

	.menu-open .icon-menu span {
		width: 0;
	}

	.menu-open .icon-menu::before {
		top: 50%;

		transform: rotate(-45deg) translateY(-2px);
	}

	.menu-open .icon-menu::after {
		bottom: 50%;
		transform: rotate(45deg) translateY(2px);
	}

	.menu__body {
		position: fixed;
		overflow: auto;
		width: 100%;
		height: 100%;
		right: -100%;
		top: 0;
		z-index: 3;
		background-color: #dad0d0;
		padding: 80px 15px 30px 15px;
		transition: all 0.3s;
		opacity: 0.9;
	}

	.menu__body::before {
		content: "";
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		z-index: 3;
		height: 70px;
		transition: all 0.3s;
		background: #FBE3D1;
	}

	body.menu-open {
		overflow: hidden;
	}

	.menu-open .menu__body,
	.menu-open .menu__body::before {
		right: 0;
	}

	.menu__list {
		flex-direction: column;
		gap: 20px;
	}

	.menu__link {
		font-size: 22px;
	}
}

@media (max-width: 370px) {

	.header__container {
		column-gap: 15px;
	}

	.logo-header__text {
		display: none;
	}

}

.footer {
	background-color: #F8DFCD;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 25px;
	text-align: center;
	padding: 20px 0px;
}

@media (max-width: 991.98px) {
	.footer {
		padding: 10px 0px;
		font-size: 20px;
	}
}

@media (max-width: 767.98px) {
	.footer {
		padding: 10px 0px;
		font-size: 15px;
	}
}