@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@font-face {
	font-family: Circular Std;
	src: url("../fonts/CircularStd-Bold.woff2") format("wofff2");
	font-display: swap;
	font-weight: bold;
	font-style: normal;
}


.wrapper {
	overflow: clip;
	min-height: 100%;
}

.header {
	color: #FFF;
	background-color: #a3d4da;
	padding: 30px;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.section-card {
	background: #FFF;
	padding: 50px;
}

.section-card__container {
	width: 530px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.card {
	max-width: 264px;
	max-height: 327px;
	border: 1px solid #E6E6E6;
	position: relative;
}

.card:hover {
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.card:hover .card__icon {
	opacity: 1;
	overflow: visible;
}

.card__icon {
	opacity: 0;
	overflow: hidden;
}

.card__image {
	width: 254px;
	height: 230px;
	padding: 5px;
}

.card__image a {
	width: 100%;
	height: 100%;
}


.icon-card__icon-heart {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	background-color: #fff;
	display: block;
	top: 4.9%;
	right: 4.2%;
	position: absolute;
	border: 1px solid #F2F2F2;
}

.icon-card__icon-heart:hover {
	background-color: #ffa500;
	border: none;
}

.icon-card__icon-eye {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	background-color: #fff;
	display: block;
	top: 19%;
	right: 4.2%;
	position: absolute;
	border: 1px solid #F2F2F2;
}

.icon-card__icon-eye:hover {
	background-color: #ffa500;
	border: none;
}

.card__items {
	padding: 12px;
}


.card__title {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}

.card__title:hover {
	color: #2C742F;

}

.card__price {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 6px;
}

.card__bag {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	background-color: #F2F2F2;
	display: block;
	bottom: 10%;
	right: 4.2%;
	position: absolute;
}

.card__bag:hover {
	background-color: #00B207;
}

/* .card__stars {
	font-size: 0;
}

.card__stars li {
	display: inline-block;
} */






.section-technology {
	background-color: #5A54F2;
}

.section-technology__white-bg {
	position: relative;
	/* background-color: #FFF; */
}

.section-technology__white-bg::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
	width: 100%;
	height: 40px;
	border-radius: 0% 0% 80% 80% / 0% 0% 80% 80%;
}

.section-technology__dark-blue-bg {
	position: relative;
}

.section-technology__dark-blue-bg::after {
	content: "";
	position: absolute;
	top: -40px;
	left: 0;
	background-color: #231F8B;
	width: 100%;
	height: 40px;
	border-radius: 80% 80% 0% 0% / 80% 80% 0% 0%;
	padding-bottom: 50px;
}

.section-technology__container {
	width: 1570px;
	padding: 0 15px;
	margin: 0 auto;
}

.first-row {
	font-size: 0;
	position: relative;
	top: 4.35%;
	left: 0px;
	margin-bottom: 55px;
}

.first-row::before {
	content: "";
	background: url("../img/section-2/ellipse_32.svg");
	width: 65px;
	height: 65px;
	position: absolute;
	top: 30%;
	left: 0;
}

.first-row__ellipse-31 {
	content: "";
	background: url("../img/section-2/ellipse_31.svg");
	width: 401px;
	height: 401px;
	position: absolute;
	top: 38.9%;
	left: 0;
}

.first-row__ellipse-31::before {
	content: "";
	background: url("../img/section-2/group_7.svg") no-repeat;
	width: 214px;
	height: 472px;
	position: relative;
	top: 50%;
	left: 8.22%;
}

.row__image {
	max-width: 430px;
	max-height: 548px;
	border-radius: 4.65% 3.65% 4.65% 3.65%/4.65% 3.65% 4.65% 3.65%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 3;
}


.row__image--position-first {
	position: relative;
	top: 0;
	left: 8.3%;
	box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
}



.row__image img {
	width: 100%;
	height: 100%;
}

.row__text {
	display: inline-block;
	vertical-align: middle;
}

.row__text--position-first {
	position: relative;
	top: 0;
	left: 12.84%;
}

.row__text h2 {
	max-width: 602px;
	color: #FFF;
	font-family: "Circular Std", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.28;
	margin-bottom: 13px;
}

.row__text p {
	max-width: 480px;
	color: #FFF;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.66;
	margin-bottom: 40px;
}

.row__link {}

.link-button {
	border-radius: 60px;
	background: #F35B09;
}

.link-button:hover {
	background: #f35b0995;
}

.link-button__text {
	color: #FFF;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding: 22px 26px;
}

.second-row {
	position: relative;
	font-size: 0;
}

.second-row::after {
	content: "";
	background: url("../img/section-2/group_8.svg") no-repeat;
	width: 472px;
	height: 213px;
	position: absolute;
	top: 34.6%;
	right: 0;
}

.row__image--position-second {
	position: relative;
	left: 29%;
	top: 0;
}

.second-row__ellipse-34 {
	background: url("../img/section-2/ellipse_34.svg");
	width: 262px;
	height: 262px;
	position: absolute;
	top: -4.7%;
	right: 3.5%;
}

.second-row__ellipse-34::after {
	content: "";
	background: url("../img/section-2/ellipse_33.svg");
	width: 65px;
	height: 65px;
	position: relative;
	top: -8.39%;
	right: 79%;
	z-index: 4;
}

.row__text--second-width {
	max-width: 480px;
}

.row__text--second-pisition {
	position: relative;
	left: 24.54%;
	top: 0;
}

.footer {
	background-color: #231F8B;
	padding: 50px;
	color: #FFF;
	padding: 30px;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}