@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@font-face {
	font-family: Circular Std;
	src: url("../fonts/CircularStd-Bold.woff2") format("wofff2");
	font-display: swap;
	font-weight: bold;
	font-style: normal;
}


.wrapper {
	overflow: clip;
	min-height: 100%;
}


.header {
	background-color: #a3d4da;
}

.header h1 {
	font-size: 30px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 20px;
	padding: 20px 0;
}


.header__container {
	max-width: 530px;
	margin: 0 auto;
	padding: 0 15px;
}

.menu {
	font-size: 0;
}

.menu__item {
	display: inline-block;
	position: relative;
}

.menu__item:hover .sub-menu {
	opacity: 1;
	visibility: visible;
}

.menu__link {
	font-size: 18px;
	padding: 20px;
	text-transform: uppercase;
}

.menu__link:hover {
	color: #cd7532;
}

.menu__link--border {
	border: solid 2px #ff00626d;
	border-radius: 10px;
}

.menu__sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
}

.sub-menu {
	width: 100%;
	background-color: #a3d4da76;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
}

.sub-menu__item {}

.sub-menu__item:not(:last-child) {
	margin-bottom: 10px;
}

.sub-menu__link {
	font-size: 20px;
}

.sub-menu__link:hover {
	color: #cd7532;
	text-decoration: underline;
}




.section-card {
	background: #FFF;
	padding: 50px;
}

.section-card__container {
	max-width: 530px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.card {
	max-width: 264px;
	max-height: 327px;
	border: 1px solid #E6E6E6;
	position: relative;
}

.card:hover {
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.card:hover .card__actions {
	opacity: 1;
	overflow: visible;
}

.card__actions {
	opacity: 0;
	overflow: hidden;
}

.card__image {
	width: 254px;
	height: 230px;
	padding: 5px;
}

.card__image a {
	width: 100%;
	height: 100%;
}


.actions-card__actions-heart {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	background-color: #fff;
	display: block;
	top: 4.9%;
	right: 4.2%;
	position: absolute;
	border: 1px solid #F2F2F2;
}

.actions-card__actions-heart:hover {
	background-color: #ffa500;
	border: none;
}

.actions-card__actions-eye {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	background-color: #fff;
	display: block;
	top: 19%;
	right: 4.2%;
	position: absolute;
	border: 1px solid #F2F2F2;
}

.actions-card__actions-eye:hover {
	background-color: #ffa500;
	border: none;
}

.card__info {
	padding: 12px;
}


.card__title {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}

.card__title:hover {
	color: #2C742F;
	text-decoration: underline;
}

.card__price {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 6px;
}

.card__bag {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	background-color: #F2F2F2;
	display: block;
	position: absolute;
	bottom: 10%;
	right: 4.2%;
}

.bag__actions {
	position: absolute;
}

.card__bag:hover {
	background-color: #00B207;
}

.bag__actions--white {
	opacity: 0;
	overflow: hidden;
}

.card__bag:hover .bag__actions--white {
	opacity: 1;
	overflow: visible;
}

.card__bag:hover .bag__actions--black {
	opacity: 0;
	overflow: hidden;
}

.section-technology {
	background-color: #5A54F2;
	position: relative;
	padding: 30px 0;
}

.section-technology::before,
.section-technology::after {
	position: absolute;
	left: -5%;
	width: 110%;
	height: 70px;
	content: "";
}

.section-technology::before {
	top: 0;
	border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
	background-color: #fff;
}

.section-technology::after {
	bottom: 0;
	border-radius: 50% 50% 0% 0%/100% 100% 0% 0%;
	background-color: #231f8b;
}

.section-technology__container {
	width: 1570px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

.section-technology__container::before {
	content: "";
	background: url("../img/section-2/group_7.svg") no-repeat;
	width: 214px;
	height: 472px;
	position: absolute;
	top: 36.22%;
	left: 3.1%;
}

.section-technology__container::after {
	content: "";
	background: url("../img/section-2/group_8.svg") no-repeat;
	width: 472px;
	height: 213px;
	position: absolute;
	bottom: 12.5%;
	right: 1.0%;
}


.first-row {
	font-size: 0;
	margin-bottom: 55px;
}

.first-row__image {
	display: inline-block;
	position: relative;
	margin-left: 128px;
	margin-right: 70px;
}

.first-row__image::before {
	content: "";
	background: url("../img/section-2/ellipse_32.svg");
	width: 65px;
	height: 65px;
	position: absolute;
	top: 30.65%;
	left: -29.76%;
}

.first-row__image::after {
	content: "";
	background: url("../img/section-2/ellipse_31.svg");
	width: 401px;
	height: 401px;
	position: absolute;
	top: 38.86%;
	left: -25.12%;
}

.row__image {
	max-width: 430px;
	max-height: 548px;
	border-radius: 4.65% 3.65% 4.65% 3.65%/4.65% 3.65% 4.65% 3.65%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}

.row__image--shadow {
	box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
}

.row__image img {
	width: 100%;
	height: 100%;
}

.row__text {
	display: inline-block;
	vertical-align: middle;
}

.row__text h2 {
	max-width: 602px;
	color: #FFF;
	font-family: "Circular Std", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.28;
	margin-bottom: 13px;
}

.row__text p {
	max-width: 480px;
	color: #FFF;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.66;
	margin-bottom: 40px;
}

.row__link {
	color: #FFF;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding: 22px 26px;
	border-radius: 60px;
	background: #F35B09;
}

.row__link:hover {
	background: #f35b0995;
}

.second-row {
	position: relative;
	font-size: 0;
}

.second-row__image {
	display: inline-block;
	position: relative;
}

.second-row__image::before {
	content: "";
	background: url("../img/section-2/ellipse_34.svg");
	width: 262px;
	height: 262px;
	position: absolute;
	top: -4.74%;
	right: -30%;
	z-index: 1;
}

.second-row__image::after {
	content: "";
	background: url("../img/section-2/ellipse_33.svg");
	width: 65px;
	height: 65px;
	position: absolute;
	top: -8.75%;
	left: 21.4%;
	z-index: 2;
}

.row__text--second-width {
	max-width: 480px;
	margin-left: 24.54%;
	margin-right: 69px;
}

.footer {
	background-color: #231F8B;
	padding: 50px;
	color: #FFF;
	padding: 30px;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}