@import url("reset.css");


body {
	background: linear-gradient(108deg, rgba(150, 156, 147, 1) 0%, rgba(118, 143, 150, 1) 47%);
}

.wrapper {}

.header {
	background: linear-gradient(108deg, rgba(130, 163, 114, 1) 0%, rgba(107, 169, 186, 1) 47%);
	padding: 30px 0;
	border-radius: 50%;
	color: white;
}

.container-headr {}

.container {
	max-width: 1080px;
	padding: 0 15px;
	margin: 0 auto;
}

.header h1 {
	font-size: 45px;
	font-weight: 700;
	text-shadow: 2px 2px 2px #000, 4px 4px 4px #a93d3d;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}



.main {}

.page {}

.practice {}

.conatiner-practice {}


.list-icon {
	padding: 50px 0;
	color: rgb(255, 242, 0);
}

.list-icon li:hover {
	color: rgb(211, 201, 10);
}

ul li {
	font-size: 30px;
	font-style: italic;
	line-height: 1.33;
	/* padding-left: 60px; */
}

ul li:not(:last-child) {
	margin-bottom: 15px;
}

.icon-1::before {
	content: "";
	background: url("../img/icon-1.svg") 0 0 no-repeat;
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	vertical-align: top;
	margin-right: 20px;
	/* margin-left: -60px; */
}

.icon-2::before {
	content: "";
	background: url("../img/icon-2.svg") 0 0 no-repeat;
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	vertical-align: top;
	margin-right: 20px;
	/* margin-left: -60px; */
}


.icon-3::before {
	content: "";
	background: url("../img/icon-3.svg") 0 0 no-repeat;
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	vertical-align: top;
	margin-right: 20px;
	/* margin-left: -60px; */
}

.icon-4::before {
	content: "";
	background: url("../img/icon-4.svg") 0 0 no-repeat;
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	vertical-align: top;
	margin-right: 20px;
	/* margin-left: -60px; */
}

.icon-5::before {
	content: "";
	background: url("../img/icon-5.svg") 0 0 no-repeat;
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	vertical-align: top;
	margin-right: 20px;
	/* margin-left: -60px; */
}

.icon-6::before {
	content: "";
	background: url("../img/icon-6.svg") 0 0 no-repeat;
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	vertical-align: top;
	margin-right: 20px;
	/* margin-left: -60px; */
}

.icon-7::before {
	content: "";
	background: url("../img/icon-7.svg") 0 0 no-repeat;
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	vertical-align: top;
	margin-right: 20px;
	/* margin-left: -60px; */
}

.icon-8::before {
	content: "";
	background: url("../img/Vector-1.svg") 0 0 no-repeat;
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	vertical-align: top;
	margin-right: 20px;
	/* margin-left: -60px; */
}

.icon-9::before {
	content: "";
	background: url("../img/Vector-2.svg") 0 0 no-repeat;
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	vertical-align: top;
	margin-right: 20px;
	/* margin-left: -60px; */
}

.icon-10::before {
	content: "";
	background: url("../img/Vector-4.svg") 0 0 no-repeat;
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	vertical-align: top;
	margin-right: 20px;
	/* margin-left: -60px; */
}

.list-content {
	color: rgb(0, 255, 4);
}

.list-content li:hover {
	color: #06d80a;
}

.content-1 img {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

.content-2 img {
	margin-right: 20px;
}


.content-3 img {
	max-width: 300px;
	max-height: 171px;
	margin-right: 20px;
}

.content-4 img {
	max-width: 300px;
	max-height: 200px;
	border-radius: 27.32% 0;
	margin-right: 20px;
}

.content-image {
	padding: 30px 0;
}

.content-image img:not(:last-child) {
	margin-bottom: 30px;
}




.footer {
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(175, 123, 175, 1) 46%, rgba(74, 80, 128, 1) 100%);
	color: white;
	font-size: 70px;
	text-align: center;
	letter-spacing: 15px;
	text-transform: uppercase;
	padding: 30px 0;
}