@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes:regular&display=swap");
@import url("font.css");

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
	font-size: 35px;
	text-align: center;
	margin-bottom: 10px;
	text-shadow: 2px 2px 2px #608d6a, 4px 4px 4px #4ff832;
}

.paddings {
	background-color: #77608d;
}

.padding-1 {
	/* padding: 5px; */
	/* padding: 10px 10px; */
	/* padding: 10px 20px 10px; */
	/* padding: 10px 20px 15px 0px; */
	/* padding-left: 25px; */
	/* padding-top: 30px; */
	/* padding-bottom: 20px; */

	padding-right: 50px;
	text-align: right;
	margin-bottom: 5px;
}

.margin-1 {
	background-color: #7a956b;
	/* margin: 10px; */
	/* margin: 10px 40px; */
	/* margin: 30px 20px 10px; */
	/* margin: 15px 20px 0px 30px; */
	/* margin-top: 10px; */
	margin-left: 20px;
	margin-right: 50px;
	margin-bottom: 5px;
}

.block-1 {
	max-width: 600px;
	font-size: 0;
	margin: 0 auto;
}

.item-1 {
	display: inline-block;
	max-width: 200px;
	vertical-align: bottom;
	/* padding-bottom: 5px; */
}

.item-2 {
	display: inline-block;
	max-width: 200px;
}

.item-3 {
	display: inline-block;
	max-width: 200px;
	/* height: 200px; */
	vertical-align: top;
	margin-left: -10px;
}

.item-4 {
	/* background-color: #794f45; */
	font-size: 14px;
	min-width: 100px;
	max-height: 40px;
	/* overflow: hidden; */
	overflow: auto;
}

/* Завдання 2 спроба 2 */

.block-2 {
	background-color: #231F8B;
	;
}

.block-2-container {
	max-width: 1050px;
	padding: 112px 0;
	margin: 0 auto;
}

.block-2-title {}

.subtitle {
	color: #5A54F2;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.7;
	margin-bottom: 10px;
}

.title {
	color: #FFF;
	font-family: "Circular Std", sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 10px;
}

.title-text {
	color: #FFF;
	font-family: "Circular Std", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 450;
	line-height: 1.4;
	margin-bottom: 70px;
}


.cards-container {
	font-size: 0;
	/* margin: -5px; */
}

.card-1 {
	display: inline-block;
	max-width: 230px;
	max-height: 288px;
	background-color: #fff;
	vertical-align: top;
	margin-right: 30px;
	/* margin: 0 -5px; */
}

.card-2 {
	display: inline-block;
	max-width: 230px;
	max-height: 312px;
	background-color: #fff;
	margin-top: 48px;
	margin-right: 30px;
}

.card-3 {
	display: inline-block;
	max-width: 230px;
	max-height: 288px;
	background-color: #5A54F2;
	vertical-align: top;
	margin-right: 30px;
}

.card-3>.card-container>div {
	color: #FFF;
}

.card-3 .card-line {
	background-color: #FFF;
}

.card-4 {
	display: inline-block;
	max-width: 230px;
	max-height: 312px;
	background-color: #fff;
	margin-top: 48px;
}

.card-container {
	padding: 35px 40px;
}

.card-image {
	margin-bottom: 20px;
}

.card-title {
	color: #252B42;
	font-family: "Circular Std";
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 20px;
}

.card-line {
	background-color: #E74040;
	width: 50px;
	height: 2px;
	margin-bottom: 20px;
}

.card-text {
	color: #737373;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42;
}

.footer {
	font-family: "Great Vibes", cursive;
	font-size: 40px;
	margin: 10px 0px;
}







/* Завдання 2 спроба 1 */

/* .block-2 {
	background-color: #231F8B;
	height: 820px;
}

.container {
	max-width: 1050px;
	margin: 0 auto;
}

.sub-title {
	color: #5A54F2;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.7;
	margin-bottom: 10px;
	padding-top: 112px;
}

.title {
	color: #FFF;
	font-family: "Circular Std", sans-serif;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 10px;
}

.text-title {
	color: #FFF;
	font-family: "Circular Std", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.4;
	margin-bottom: 70px;
}

.container {}

.cards {
	height: 360px;
	font-size: 0;
}

.card {
	display: inline-block;
	max-width: 230px;
	height: 288px;
	background-color: #fff;
	margin-right: 30px;
}

.card-container {
	padding: 35px 40px;
}

.card-image {
	margin-bottom: 20px;
}

.card-title {
	font-family: "Circular Std", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 20px;
}

.card-line {
	display: inline-block;
	background-color: red;
	width: 50px;
	height: 2px;
	margin-bottom: 20px;
}

.card-text {
	color: #737373;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42;
}

.card-2 {
	vertical-align: -48px;
}

.card-3 {
	background: #5A54F2;
	color: white;
}

.card-3 .card-text {
	color: white;
	height: 312px;
}

.card-3 .card-line {
	background-color: white;
}

.card.card-4 {
	vertical-align: -48px;
	max-height: 312px;
} */