@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	max-width: 1350px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	color: #fff;
	font-size: 20px;
	background-color: #0091ff;
	padding: 15px 0px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.wrapper>main {
	flex-grow: 1;
}

/* ! practice */

/* .practice {
	padding: 50px 0;
}

.practice__form {
	display: inline-flex;
	flex-direction: column;
	gap: 15px;
}

.practice__radio {}

.practice__lable-radio {}

.practice__innput-radio {
	opacity: 0;
	width: 0;
	height: 0;
}

.practice__innput-radio:checked+.practice__text-radio::before {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #00B207;
	outline: 3px solid #00B207;
	outline-offset: 4px;
}

.practice__innput-radio:focus-visible+.practice__text-radio {
	outline: 1px solid #333;
	outline-offset: 5px;
}

.practice__text-radio {
	display: flex;
	align-items: center;
	gap: 10px;
}

.practice__text-radio::before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	outline: 1.5px solid #CCCCCC;
}
 */


/*! .section-data */
.section-data {
	background-color: #fff;
	padding: 30px 0;
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}

.information {
	display: flex;
	flex-direction: column;
	flex: 1 1 872px;
	/* max-width: 872px; */
	/* gap: 16px; */
}

.form-information__title {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.2;
}

.information__form {}

.form-information {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.form-information__name {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
}

.form-information__wrapper-name {
	flex-basis: 280px;
}

.form-information__label {
	margin-bottom: 8px;
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
}

.form-information__label strong {
	color: #808080;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
}

.form-information__input {
	width: 100%;
	padding: 14px 16px;
	border-radius: 6px;
	border: 1px solid #E6E6E6;
	background: #FFF;
}

.form-information__input::placeholder {
	transition-duration: 0.3s;
}

.form-information__input:focus::placeholder {
	opacity: 0;
}

.form-information__country {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
}

.country-information__wrapper {}

.country-information__wrapper--max-width {
	display: flex;
	flex-direction: column;
	flex-basis: 280px;
}

.country-information__select {
	width: 100%;
	padding: 14px 16px;
	border-radius: 6px;
	border: 1px solid #E6E6E6;
	background: #FFF;
}

.form-information__contacts {}

.contacts {
	display: flex;
	gap: 16px;
}

.contacts__wrapper {
	flex-basis: 428px;
}

.form-information__checkbox {}

.checkbox::after {
	content: "";
	padding-bottom: 32px;
	border-bottom: solid 1px #E6E6E6;
	display: block;
	margin-bottom: 16px;
}

.checkbox__wrapper {
	display: inline-flex;
	gap: 6px;
}

.checkbox__input {
	width: 20px;
	height: 20px;
}

.checkbox__label {
	color: #4D4D4D;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 1.5;
}


.form-information__textarea {
	border-radius: 6px;
	border: 1px solid #E6E6E6;
	background: #FFF;
	padding: 14px 16px;
	min-height: 100px;
	resize: vertical;
}

.form-information__textarea::placeholder {
	transition-duration: 0.3s;
}

.form-information__textarea:focus::placeholder {
	opacity: 0;
}

.order {
	max-width: 424px;
}

.order__card {}

.card {
	display: flex;
	flex-direction: column;
	flex-basis: 424px;
	padding: 24px;
	gap: 24px;
	border-radius: 8px;
	border: 1px solid #E6E6E6;
	background: #FFF;
}

.card__body {
	display: flex;
	flex-direction: column;
}

.card__product {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.card__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 6px;
}

.card__item {}

.item-card {
	display: flex;
	align-items: center;
	gap: 6px;
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 1.2;
	transition-duration: 0.4s;
}

.item-card:hover {
	transform: scale(1.1);
}

.item-card__image {
	align-items: center;
	width: 60px;
	height: 60px;
}

.item-card__image img {
	width: 100%;
}

.quntity {
	display: flex;
	gap: 6px;
	align-items: center;
}

.quntity__item {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
}

.input-quantity {
	width: 50px;
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
}

.card__price-item {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;
}

.subtotal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0px;
	border-bottom: 1px solid #E6E6E6;
}

.subtotal__text {
	color: #4D4D4D;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 1.2;
}

.subtotal__price {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;
}

.shipping {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
	border-bottom: 1px solid #E6E6E6;
}

.shipping__text {
	color: #4D4D4D;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 1.2;
}

.shipping__price {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 12px;
}

.total__text {
	color: #4D4D4D;
	font-family: "Poppins", sans-serif;
}

.total__price {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
}

.card__pay-method {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.card__pay-method:hover .card__label-radio::before {
	outline: 1px solid #00B207;
}

.card__title {
	color: #1A1A1A;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.card__radio {
	display: inline-flex;
	gap: 6px;
	align-items: center;
}

.card__item-radio {
	opacity: 0;
	width: 0;
	height: 0;
}

.card__item-radio:checked+.card__label-radio::before {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #00B207;
	outline: 2px solid #00B207;
	outline-offset: 3px;
}

.card__item-radio:focus-visible+.card__label-radio {
	outline: 2px solid #00B207;
	outline-offset: 10px;
	border-radius: 5px;
}


.card__label-radio {
	color: #4D4D4D;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 10px;
	/* position: relative; */
}

.card__label-radio::before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	outline: 1.5px solid #CCCCCC;
	transition-duration: 0.3s;
	align-items: center;
}

.button__item {
	display: flex;
	gap: 16px;
	width: 376px;
	padding: 16px 40px;
	border-radius: 43px;
	background: #00B207;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.2;
	transition-duration: 0.3s;
}

.button__item:hover {
	background-color: #2C742F;
}

.button__item:active {
	transform: scale(0.95);
}

/* !footer */
.footer {
	color: #fff;
	font-size: 20px;
	background-color: #0091ff;
	padding: 15px 0px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}
