@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,700&display=swap");




.wrapper {
	overflow: clip;
	min-height: 100%;
}

.header {
	background-color: #8b8888;
	color: #ffa500;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0;
	margin-bottom: 30px;
}


.container-descriptions {
	max-width: 680px;
	margin: 0 auto;
	padding: 0 15px;
}

.descriptions {
	margin-bottom: 80px;
}

.descriptions-content {
	font-family: "Poppins", sans-serif;
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}

.descriptions-content>p {
	/* padding-bottom: 3%; */
	margin-bottom: 3%;
}

.list {
	margin-bottom: 20px;
}

.list li {
	padding-left: 30px;
	background-image: url("../img/1.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 20px 20px;
	line-height: 1.4;
}

.list>li {
	/* padding-bottom: 14px; */
	margin-bottom: 14px;
}

/* .list>li+li+li+li {
	padding-bottom: 0;
} */


.hydra {
	background-color: #302C42;
	background-image: url("../img/7.png"), url("../img/8.png");
	background-repeat: no-repeat;
	background-position: 70% 10%, 30% 60%;
}

.container-hydra {
	max-width: 1300px;
	padding: 0 15px;
	margin: 0 auto;
}

.content-hydra {
	padding-top: 70px;
	padding-bottom: 50px;
	font-size: 0;
}


.container-content {
	max-width: 465px;
	display: inline-block;
	vertical-align: top;
	padding-top: 50px;
}

.image {
	display: inline-block;
	/* border-radius: 240px 100px 240px 100px; */
	/* border-radius: 45.11% 17.79%; */
	border-radius: 45.11% 17.79% 45.11% 17.79% / 45.11% 17.79% 45.11% 17.79%;
	overflow: hidden;
	margin-right: 108px;
	max-width: 532px;
	max-height: 562px;
}

.image img {
	width: 100%;
	height: 100%;
}

.title-hydra {
	color: #FFF;
	font-family: "Montserrat", sans-serif;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 5px;
}

.subtitle-hydra {
	color: rgba(255, 255, 255, 0.95);
	font-family: "Montserrat", sans-serif;
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 42px;
}

.text-hydra {
	color: #FFF;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 28px;
	line-height: 1.25;
}

.button-hydra {
	width: 214px;
	height: 48px;
	border-radius: 40px;
	background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
	text-align: center;
	line-height: 4;
}

.button-hydra a {
	color: #343045;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-weight: 700;
}

.contacts {
	background-color: #302C42;
	padding-bottom: 50px;
}

.container-contacts {
	max-width: 1300px;
	padding: 0 15px;
	margin: 0 auto;
	border-radius: 90px;
	background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
	box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}

.row-contacts {
	font-size: 0;
}

.item-1 {
	display: inline-block;
}

.item-1 .icon {
	padding-left: 30px;
}

.item-2 {
	display: inline-block;
}

.item-3 {
	display: inline-block;
}

.icon {
	display: inline-block;
	padding: 48px 0;
	margin-right: 25px;
}

.icon img {
	width: 70px;
	height: 70px;
}

.contacts-content {
	display: inline-block;
	vertical-align: middle;
	margin-right: 42.5px;
}

.contacts-title {
	color: #FFF;
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}

.contacts-text {
	color: #FFF;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.contacts-line {
	display: inline-block;
	margin-right: 50px;
	/* width: 1px;
	height: 116px;
	background-color: #615A7E; */
}



.training {
	padding: 30px 0;
}

.container-training {
	max-width: 730px;
	margin: 0 auto;
	padding: 0 15px;
}

.border {
	line-height: 1.3;
	padding: 0 10px;
	border-top: 2px solid #ffa500;
	border-bottom: 6px double #8176AF;
	border-right: 3px dotted #db1010;
	border-left: 3px dashed #343045;
	outline: 2px dotted hwb(240 0% 0% / 0.7);
	border-radius: 10px;
	margin-bottom: 30px;
}

.box-shadow {
	line-height: 1.3;
	padding: 10px 10px;
	border-radius: 10px;
	margin-bottom: 30px;
	/* https://smoothshadows.com/#djEsMSw1LDAuNTcsNjAsLTUsLTkxLCMxNDM2OTQsI2ZmZmZmZiwjZmZmZmZmLDI%3D */
	box-shadow: -4px -0px 2px rgba(20, 54, 148, 0.11),
		-15px -1px 10px rgba(20, 54, 148, 0.23),
		-33px -2px 22px rgba(20, 54, 148, 0.34),
		-58px -3px 38px rgba(20, 54, 148, 0.46),
		-91px -5px 60px rgba(20, 54, 148, 0.57),
		inset 10px 10px 10px #db1010;
}

.opacity {
	line-height: 1.3;
	padding: 10px 10px;
	border-radius: 10px;
	margin-bottom: 30px;
	opacity: 0.5;
	/* visibility: hidden; */
}

.background {
	line-height: 1.3;
	padding: 10px 10px;
	border-radius: 10px;
	margin-bottom: 30px;
	background-image: url("../img/resize_867111.jpg"),
		linear-gradient(90deg, rgba(174, 191, 238, 1) 0%, rgba(200, 255, 79, 1) 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
}


.footer {
	background-color: #8b8888;
	color: #ffa500;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0;
	margin-bottom: 30px;
}